@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #178d85;
  --secondary: #178d85d0;
}

body {
  margin: 0;
  font-family: "Poppins", system-ui;
}

h2 {
  font-family: "Halant", serif;
}

.container {
  max-width: 95% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
  }
}

.text_shadow {
  text-shadow: 3px 5px 4px #000000e0;
}

.primary_btn {
  color: #fff;
  background: var(--primary);
  padding: 8px 20px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 19px;
  font-size: 14px;
  display: block;
  width: fit-content;
}

.primary_outline_btn {
  color: var(--primary);
  background: none;
  padding: 8px 20px;
  transition: 0.6s;

  border-radius: 20px;
  font-size: 14px;
  border: 1px solid var(--primary);

  position: relative;
  overflow: hidden;
  display: block;
}

.admin_btn {
  @apply rounded border bg-primary px-4 py-2 text-white;
}

/* ---------------------------form------------------------- */
input,
textarea,
select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px;
  outline: none;
  font-size: 14px;
  margin-top: 3px;
  color: #555;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  font-weight: 300;
  font-size: 13px;
}

form {
  font-size: 15px;
}

select {
  cursor: pointer;
}

table {
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
}

table thead th {
  background: #dddddd5c;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #404145e6;
  text-transform: uppercase;
  text-align: start;
  white-space: nowrap;
}

table tbody td {
  padding: 10px;
  text-align: start;
  border-bottom: 1px solid #dddddd94;
}

.jodit-workplace {
  height: 300px !important;
}

.jodit-status-bar {
  display: none !important;
}

/* ---------------------------swiper button------------------------- */
.fade-up-animation {
  animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade_left_animation {
  animation: fadeLeft 1s ease-out forwards;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.gallery_wrap {
  background-image: linear-gradient(0deg, #ffffffee, #ffffffee),
    url("/interior_bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.land_wrap {
  background-image: linear-gradient(0deg, #60606035, #60606035),
    url("/images/landBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}
/* ---------------------------------------- */
.wrapper {
  margin-top: 2rem;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(200px * 8), calc(100% + 200px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* ---------------------------------- */
.service_card {
  background: linear-gradient(to bottom, var(--primary), var(--primary));
  color: #fff;
  padding: 40px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  transition: all 0.5s ease;
}

.service_card h2 {
  margin-top: 16px;
  font-size: 28px;
  font-weight: 600;
}

.service_card p {
  margin-top: 16px;
  font-size: 15px;
  font-weight: 400;
}

/* ----------------FAQ--------------------- */
.faq-content {
  max-height: 0;
  overflow: hidden;

  transition: all 0.5s;
}

.activeFAQ {
  max-height: 500px;
}

/* -------------------------process--------------------------- */
.process_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 140px;
}

.process_card .process_icon {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #000;
  box-shadow: 0px 0px 10px 0px #0000000d;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.process_card:nth-child(odd) .process_icon {
  border-color: #f46c24;
}

.process_card:nth-child(even) .process_icon {
  border-color: #000;
}

.process_card .process_icon img {
  width: 80%;
  height: 80%;
}

.process_card p {
  font-size: 14px;
  margin-top: 10px;
}

.process_card:nth-child(odd) .process_icon::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  width: 180px;
  height: 180px;
  border-top: 1px solid #ffa500;
  border-radius: 50%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.process_card:nth-child(even) .process_icon::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  width: 180px;
  height: 180px;
  border-bottom: 1px solid red;
  border-radius: 50%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.process_card p {
  position: absolute;
  font-size: 12px;
}

.process_card:nth-child(odd) p {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.process_card:nth-child(even) p {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* responsive */
@media only screen and (max-width: 640px) {
  .process_card {
    width: 100px;
  }

  .process_card:nth-child(odd) .process_icon::after {
    border-left: 1px solid #ffa500;
    border-top: 0;
  }

  .process_card:nth-child(even) .process_icon::after {
    border-bottom: 0;
  }

  .process_card:nth-child(even) .process_icon::before {
    border-right: 1px solid red;
    border-bottom: 0;
  }

  .process_card:nth-child(even) p {
    transform: translate(-120%);
    top: 21%;
    left: 0;
  }

  .process_card:nth-child(odd) p {
    transform: translate(140%, 14%);
    top: 0;
  }
}
