/* ------------------Header---------------------- */
.header_menu_btn {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 50%;

  transition: all 0.6s;
}

.header_menu_btn:hover {
  color: var(--primary);
  border-color: var(--primary);
}

.sidebar_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 380px;
  height: 100vh;
  background: #000000be;
  color: #fff;
  backdrop-filter: blur(10px);
  padding: 20px 40px;

  transition: all 0.5s;
  z-index: 999;

  transform: translateX(100%);
}

.sidebar_menu.active {
  transform: translateX(0);
}

.sidebar_menu ul li a {
  transition: all 0.3s;
}
.sidebar_menu ul li a:hover {
  color: var(--primary);
}

/* responsive sidebarmenu */
@media screen and (max-width: 768px) {
  .sidebar_menu {
    width: 90%;
  }
}

/* ------------------Hero---------------------- */
.hero_slider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
}

/* .hero_btn hero bottom center position */
.hero_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  white-space: nowrap;

  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

/* hero btn animation updown */
.hero_btn button {
  animation: updown 2s infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* hero image animation scale */
.hero_slider img {
  animation: scale 15s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
